{% extends 'base.html' %}
{% import 'locations.html' as locs %}

{% block header %}
<h1>Near By Locations</h1>
{% endblock %}

{% block body %}
<div id="locations">
    <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;">Locating...</div>
    </div>
    {{ locs.render(locations) }}
</div>
{% endblock %}

{% block scripts %}
{% if user %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
(function($) {
    X.getCurrentPosition(function(position) {
            $.get('/location/search/?lat=' + position.lat() + '&lng=' + position.lng(), function(data, textStatus, jqXHR) {
                $('#locations').html(X.macro('render', data['content'], 'locations.html'))
            });
        }, function(position) {
            alert('error='+p.message);
        }, {enableHighAccuracy:false});
})(jQuery);
</script>
{% endif %}
{% endblock %}
