{% extends 'base.html' %}
{% import 'locations.html' as locs %}

{% block header %}
<h1>Near By</h1>
{% endblock %}

{% block body %}
<div id="locations">
    <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;">Locating...</div>
    </div>
    {{ locs.render(locations) }}
</div>
{% endblock %}

{% block scripts %}
{% if user %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
(function($) {
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      $.cookie('coords', JSON.stringify({lat:position.coords.latitude, lng:position.coords.longitude}))
      $.get('/location/search/?lat=' + position.coords.latitude + '&lng=' + position.coords.longitude, function(data, textStatus, jqXHR) {
        $('#locations').html(X.macro('render', data['content'], 'locations.html'))
      });
    }, function() {
      alert('unable to locate you');
    }, {timeout:5*1000, enableHighAccuracy:false});
  } else {
    // Browser doesn't support Geolocation
    alert('your browser does not support locations');
  }
})(jQuery);
</script>
{% endif %}
{% endblock %}
