{% extends 'base.html' %}
{% import 'locations.html' as locs %}

{% block header %}
<h1>Near By Locations</h1>
{% endblock %}

{% block body %}
<div id="locations">
    <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;">Locating...</div>
    </div>
    {{ locs.render(locations) }}
</div>
{% endblock %}

{% block scripts %}
{% if user %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
(function($) {
		if(geo_position_js.init()) {
			geo_position_js.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:false});
		} else {
			alert("Functionality not available");
		}

		function success_callback(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      $.cookie('coords', JSON.stringify({lat:position.coords.latitude, lng:position.coords.longitude}))
      $.get('/location/search/?lat=' + position.coords.latitude + '&lng=' + position.coords.longitude, function(data, textStatus, jqXHR) {
        $('#locations').html(X.macro('render', data['content'], 'locations.html'))
      });
		}

		function error_callback(p)
		{
			alert('error='+p.message);
		}
})(jQuery);
</script>
{% endif %}
{% endblock %}
